body {
    margin: 0px;
    background-color: antiquewhite;
}

.login_form {
    text-align: center;
}

.inner_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 200px;
    font-size: 20px;
}

.form {
    border-radius: 5px;
    width: 150px;
}

#submit_btn {
    background-color: rgb(197, 194, 194);
    margin-top: 10px;
    width: 130px;
    height: 30px;
    border-radius: 10px;
}

#invalid_msg {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    color: red;
}

#logout_msg {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
}