body {
  text-align: center;
  margin-top: 300px;
}

h1 {
  color : brown;
  font-size: 500%;
  margin-bottom: 10px;
}

#sign_in {
  position: relative;
  left: 50px;
  width: 150px;
  height: 50px;
  background-color: rgb(59, 57, 57);
  color: white;
  font-size: 120%;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 3px 3px rgb(29, 28, 28);
}

#sign_in:hover {
  background-color: white;
  color: black;
}

#sign_up {
  position: relative;
  left: 110px;
  width: 150px;
  height: 50px;
  background-color: rgb(59, 57, 57);
  color: white;
  font-size: 120%;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 3px 3px rgb(29, 28, 28);
} 

#sign_up:hover {
  background-color: white;
  color: black;
}

#guest {
  position: relative;
  top: 80px;
  right: 160px;
  width: 150px;
  height: 50px;
  background-color: grey;
  color: white;
  font-size: 120%;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 3px 3px rgb(100, 99, 99);
}

#guest:hover {
  background-color: rgb(243, 239, 239);
  color: black;
}