<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Train.com</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
</head>
<body>
<h1>Train.com</h1>
<div class="login">
    <button type="button" id="sign_in" onclick="location.href='./login'">Sign in</button>
    <button type="button" id="sign_up" onclick="location.href='#'">Sign up</button>
    <button type="button" id="guest" onclick="location.href='#'">Guest login</button>
</div>
</body>
</html>