<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Train.com</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<!-- 細かなスタイリングはログイン機能実装し、ヘッダー配置後 -->
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <form action="" method="post" class="login_form">
        <div id="login_name">
            <label for="name">Enter your name</label>
            <input type="text" name="name" required>
        </div>
        <div id="login_pass">
            <label for="pass">Enter your password</label>
            <input type="password" name="pass" required>
        </div>
    </form>

</body>
</html>