<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Train.com</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<!-- 細かなスタイリングはログイン機能実装し、ヘッダー配置後 -->
<!-- name, login_id, login_passにformを変更 -->
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div th:if="${param.error}">
        Invalid UserName, ID and Password!!
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post" class="login_form">
        <div id="user_name">
            <label for="name">USER NAME : </label>
            <input type="text" name="name" required>
        </div>
        <div id="login_id">
            <label for="id">Login ID : </label>
            <input type="text" name="id" required>
        </div>
        <div id="login_pass">
            <label for="pass">Login PASSWORD : </label>
            <input type="password" name="pass" required>
        </div>
        <div><input type="submit" value="Sign In"/></div>
    </form>

</body>
</html>